#top-nav-header {
  background-color: #65a637;
  color: white;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  z-index: 1;
}

.top-nav-logo {
  width: 40px;
}

.top-nav-header-logo {
  display: flex;
}

.top-nav-project-title {
  font-weight: lighter;
  letter-spacing: 7px;
  font-size: x-large;
  margin-left: 14px;
}

.left-side-nav-sider {
  overflow: auto;
  height: 100vh;
  position: fixed !important;
  width: 200px;
  left: 0;
  padding-top: 98px;
}
